body {
    background-color: #01142e;
    color: #333;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    transition: background-color 0.3s ease; 
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-size: 2.5em;
    text-shadow: 2px 2px #26a8c9;
}

table {
    background-color: #88baff;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #2c3e50; /* Warna latar belakang */
    color: white;              /* Warna teks */
    text-transform: uppercase; /* Mengubah teks menjadi huruf kapital */
    text-align: center;        /* Mengatur teks agar berada di tengah */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn 0.5s;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    animation: slideIn 0.5s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.form-left {
    flex: 1;
    margin-right: 20px;
}

.form-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;       /* Memusatkan elemen secara vertikal */
    justify-content: center;   /* Memusatkan elemen secara horizontal */
    margin-bottom: 10px;
}


.form-group label {
    flex: 1;
    margin-right: 10px;
}

.form-group input {
    flex: 2;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-right img {
    max-width: 100%;
    max-height: 300px;
    border: 3px solid #000; /* Bingkai tebal hitam */
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
}


button[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(-50px);}
    to {transform: translateY(0);}
}