/* Styling for the data display table */
#dataDisplayTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#dataDisplayTable th, #dataDisplayTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#dataDisplayTable th {
    background-color: #f2f2f2;
}

#dataDisplayTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#dataDisplayTable tbody tr:hover {
    background-color: #ddd;
}

/* Styling for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
h1 {
    text-align: center;
    margin-top: 20px; /* Atur margin atas sesuai kebutuhan */
  
}