#dataDisplayTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-family: Arial, sans-serif; /* Tambahkan font yang lebih modern */
}

#dataDisplayTable th,
#dataDisplayTable td {
    border: 1px solid #ddd;
    padding: 12px; /* Tambahkan padding untuk ruang lebih */
    text-align: left;
}

#dataDisplayTable th {
    background-color: #3498db; /* Ubah warna latar belakang header */
    color: white; /* Ubah warna teks header */
}

#dataDisplayTable tbody tr:nth-child(even) {
    background-color: #ecf0f1; /* Ubah warna latar belakang baris genap */
}

#dataDisplayTable tbody tr:hover {
    background-color: #bdc3c7; /* Ubah warna latar belakang saat hover */
    cursor: pointer; /* Tambahkan kursor pointer saat hover */
}

/* Styling for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); /* Ubah opacity background */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Kurangi lebar modal */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Tambahkan shadow */
    border-radius: 10px; /* Tambahkan border radius */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Georgia', serif; /* Ubah font heading */
    color: #333; /* Ubah warna teks heading */
}

