.font-sidebar {
    font-family: 'Poppins', serif;
}

.font-navbar {
    font-family: 'REM', serif;
}

.title-text {
    font-family: 'Open Sans, serif;
    font-size: 15px;
    font-weight: semibold;
}

.bg-prop {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
