html, body {
    height: 100%;
}

#contact {
    position: relative;
    bottom: 0;
    width: 100%;
}

.team {
    background-color: #f7f7f7;
    padding: 40px 0;
}

.team-member {
    margin-bottom: 20px;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-links li {
    margin-right: 10px;
}

.social-links a {
    color: #333;
    transition: color 0.2s ease;
}

.social-links a:hover {
    color: #666;
}

h1, h2, h3 {
    letter-spacing: 1px;
}
p {
    line-height: 1.6;
}

.title {
    font-family: 'REM', serif;
}

.desc {
    font-family: 'Outfit', serif;
}

.text-justify {
    text-align: justify;
}

.uniform-size {
    width: 100%; 
    max-width: 800px; 
    height: auto; 
    object-fit: cover; 
    display: block; 
}

@media (max-width: 768px) {
    #dropdownMenu {
      display: none;
    }
    
    details[open] > div {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      width: 100%;
      padding: 50px;
      border-radius: 5px;
      box-sizing: border-box;
      
      /* Menggunakan warna latar belakang dengan transparansi */
      background: rgba(12, 11, 11, 0.445);
      color: #000; /* Warna teks */
    }
  
    /* Tambahkan elemen untuk blur latar belakang */
    details[open] > div::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: inherit; /* Mengambil warna latar belakang dari div */
      filter: blur(50px); /* Efek blur */
      z-index: -1; /* Menempatkan blur di belakang konten */
      border-radius: 5px; /* Pastikan sudutnya sama */
    }
  }
  


nav {
    padding: 10px;
    width: 100%;
}

button {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

button img {
    margin-right: 10px;
}






